@tailwind base;
@tailwind components;
@tailwind utilities;

.post-list-item {
  border: 1px solid #e2e8f0;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.post-list-item:hover {
  transform: scale(1.05);
}

.post-details {
  border: 1px solid #e2e8f0;
  padding: 1.5rem;

  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}